<div class="map-canvas"></div>
<div style="display: none;">
  <ul>
    {{#each _markers as |marker| itemViewClass=markerViewClass}}
      <li>{{marker.title}} @ {{marker.lat}},{{marker.lng}}</li>
      {{#if view.hasInfoWindow}}
        {{view 'google-map/info-window' context=marker}}
      {{/if}}
    {{/each}}
  </ul>
  <ul>
    {{#each _infoWindows as |iw| }}
      {{view infoWindowViewClass context=iw}}
    {{/each}}
  </ul>
  <ul>
    {{each _polylines as |polyline| itemViewClass=polylineViewClass}}
  </ul>
  <ul>
    {{each _polygons as |polygon|  itemViewClass=polygonViewClass}}
  </ul>
  <ul>
    {{each _circles as |circle| itemViewClass=circleViewClass}}
  </ul>
</div>
